<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
      <h1>hello all im home page</h1>
        <%=    foo %>
        <%=    da %>

<h1>im displaying data in array in ejs  tat is arry of object</h1>

<ul>
    <%  for (var x of arraydata) {%>

    <li><%=  x.chocalate %> </li>
    <% }%>
</ul>

<h1>im displaying data in array in ejs  if condition</h1>

<ul>
    <%  for (var x1 of arraydata) {%>

        <% if(x1.chocalate=="dirymilk") {%> 
            <li>i love <%= x1.chocalate %> </li>
            <% }else{ %> 
                <li>i hate <%= x1.chocalate %> </li>
                <% } %> 
  
    <% }%>
</ul>


        <script src="" async defer></script>
    </body>
</html>
